* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    overflow-x: hidden;
    min-width: 350px;
}

/* navbar */
.navbar .navbar-collapse .nav-link {
    text-align: center;
    color: rgb(255, 255, 255);
}

.navbar-collapse {
    border: 20px;
}

.navbar-toggler.nav-button {
    background-color: transparent;

}

a.nav-link {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;

}

a.icon-social:hover {
    color: rgb(242, 255, 5);
    scale: 1.1;
}

.navbar-collapse {
    transition: background-color 0.1s ease;
    background-color: transparent;
}

li.nav-item {
    padding-left: 1.2rem;

}

.nav-item-social {
    width: 9rem;
}

.nav-item-social .container {
    display: flex;
    justify-content: space-between;
}

.icon-social-2 i {
    transition: all 0.1s ease-in-out;
}

.icon-social-2 i.bx:hover {
    background-color: white;
    color: black;
    scale: 1.5;
    border-radius: 50%;
}

/* /narbar */

/* header */
.header {
    background-image: url('../img/site-header-6.jpg');

    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-bottom: 150px;
    overflow-y: hidden;
}

.header .container {
    padding: 10rem 0;
}

.text-container p:last-child {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

.text-container {
    animation-name: textContainer;
    animation-duration: 1s;
}

@keyframes textContainer {
    from {
        transform: translateY(-15%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.text-container a {
    text-decoration: none;
    text-align: center;
    color: rgb(247, 255, 23);

}

.text-container span {
    text-align: center;
}

.text-container p.h1 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 3.5rem;
    font-family: 'Kanit', sans-serif;
}

.btn-head {
    background-color: #5f970a;
    border-radius: 330px;
    padding: 10px 40px;
    font-size: 1.3rem;
    border: #5f970a;
    color: white;
}

.btn-head:hover {
    background-color: #81d307;
    color: white;
}

/* /header */

/* ========== Cam mang ============ */
/* row-1 */
.row-1{
    margin-bottom: 50px;
}

.content-1 {
    border-radius: 20px;
    padding: 15px 30px;
    background-color: antiquewhite;
    text-align: center;
    
}
.content-1 button.btn{
    width: 130px;
    padding: 10px 0px;
    color: white;
    background-color: golden;
    font-weight: bold;
    border: none;
}
.content-1 p.slogan{
    font-weight: bold;
    color: #10223A;
    margin-bottom: 10px;
    font-family: ;
}
.content-1 .sub-slogan{
    font-weight: bold;
    color: #10223A;
    margin-bottom: 10px;
    
}
.content-1 p.p2{
    color: rgb(137, 137, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img img{
    object-fit: cover;
    border-radius: 10px;
    max-height: 147px;
    margin-bottom: 20px;
}
.img-big img{
    max-height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 10px;
}

.row-2{
    margin-bottom: 50px;
}
.row-3{
    margin-bottom: 50px;
}

.search-text{
    color: #2a3440;
    background-color: rgb(251, 228, 198);
    padding: 7px 0;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: start;
    font-weight: bolder;
    border-radius: 11px;
    box-shadow: 3px 3px 5px rgb(146, 145, 145);

}
.search{
    margin-bottom: 40px;
}
#search1{
    display: none;
}
.input-group input[type=text]{
    border-top: none;
    border-left: none;
    padding: 10px;
}
.input-group button{
    background-color: rgb(247, 148, 20);
    color: white;
    font-weight: bold;
}
.tags{
    margin-bottom: 50px;
}
.tags .tags-text{
    color: #2a3440;
    background-color: rgb(251, 228, 198);
    padding: 7px 0;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: start;
    font-weight: bolder;
    border-radius: 11px;
    box-shadow: 3px 3px 5px rgb(146, 145, 145);
}
.tags .tags-text p{
    margin-bottom: 0;
}
.tags button{
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #0a274c;
    padding: 6px 15px;
    color: white;
}
.tags button:hover{
    background-color: #172659;
    scale: 1.05;
    transition: 0.2s all ease;
    cursor: pointer;
    color: white;
}
.socials{
    margin-bottom: 50px;
}
.socials .so-text{
    color: #2a3440;
    background-color: rgb(251, 228, 198);
    padding: 7px 0;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: start;
    font-weight: bolder;
    border-radius: 11px;
    box-shadow: 3px 3px 5px rgb(146, 145, 145);
}
.socials .so-text p{
    margin-bottom:  0;
}
.icon-media{
    font-size: 1.9rem;
    color:#fcb714;
}
.icon-media i{
    margin-right: 5px;
}
.icon-media i:hover{
    scale: 1.19;
    transition: 0.2s all ease;
    cursor: pointer;
}
.category{
    margin-bottom: 50px;
}
.cat-text{
    color: #2a3440;
    background-color: rgb(251, 228, 198);
    padding: 7px 0;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: start;
    font-weight: bolder;
    border-radius: 11px;
    box-shadow: 3px 3px 5px rgb(146, 145, 145);
}
.cat-text p{
    margin-bottom: 0;
}
.cat-list{
    list-style-image: url('../img/icons8-cat-footprint-16.png');
}
.cat-item{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
}

.in4-text{
    color: #2a3440;
    background-color: rgb(251, 228, 198);
    padding: 7px 0;
    padding-left: 20px;
    margin-bottom: 18px;
    font-size: 1.4rem;
    text-align: start;
    font-weight: bolder;
    border-radius: 11px;
    box-shadow: 3px 3px 5px rgb(146, 145, 145); 
}
.in4-text p{
    margin-bottom: 0;
}
.in4-discipt{
    color: #7d7e80;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* ==========/Cam nang ============ */



/* footer */
.footer {
    background-color: #061a33;
    background-image: url("../img/footer-tr-bg.png");

}

.list-group-item {
    background-color: transparent;
}

hr {
    color: white;
}

.list-group-item {
    color: rgb(158, 153, 153);
    padding: 2px 6px;
}

.list-group-item:hover {
    color: rgb(255, 255, 255);
}

.copy-right p {
    font-size: 0.9rem;
    color: rgb(158, 153, 153);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* /footer */




@media (min-width:1320px) {}

@media (max-width:1319px) {}

@media (max-width:1200px) {}

@media (max-width:992px) {
    .text-container p.h1{
        font-size: 54px !important;
    }
    .nav-item-social {
        width: 100%;
    }
    .nav-item-social .container {
        display: flex;
        justify-content: center;
    }
    .icon-social-2 {
        margin-right: 10px;
    }
    #search2{
        display: none;
    }
    #search1{
        display: block;
    }
    .header{
        margin-bottom: 10px;
    }
}

@media (max-width:762px) {
    .text-container p.h1{
        font-size: 52px !important;
    }
    .copy-right_section {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width:580px) {
    .sub-slogan{
        font-size: 21px !important;
    }
    .cat-item{
        font-size: 16px;
    }
    .tags-text p, .so-text p, .cat-text p, .in4-text p{
        font-size: 21px;
    }
}